1 VERSIONINFO
 FILEVERSION 0,5,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904b0"
        BEGIN
            VALUE "Comments", "Filesystem extractor\0"
            VALUE "LegalCopyright", "Copyright © 2012 WRS/x1nixmzeng\0"

			//VALUE "FileDescription", "Z3Ex for GunZ2 r13226\0"
			//VALUE "FileDescription", "Z3Ex for RaiderZ r34748\0"
			//VALUE "FileDescription", "Z3Ex for RaiderZ r34991\0"
			//VALUE "FileDescription", "Z3Ex for RaiderZ r35358\0"
			
			VALUE "FileDescription", "Z3Ex for RaiderZ rxx\0"
			
            VALUE "FileVersion", "v0.05\0"
            VALUE "InternalName", "z3ex\0"
            VALUE "OriginalFilename", "Z3Ex.dll\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x809, 1200
    END
END

